.cardContainerMobile {
    width: 160px; /* Ancho individual de cada tarjeta */
    height: 380px; /* Altura de las tarjetas */
    flex-shrink: 0;
}

.cardMobile {
    width: 160px;
    height: 255px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 2px 6px 0px #CCCACA;
}

.containerImgProduct {
    margin-top: 100px;
    margin-left: 5px;
    width: 99.35px;
    height: 99.547px;
    flex-shrink: 0;
    display: flex; /* Habilita flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.imgProductMobile {
    margin-left: 50px;
    margin-top: 20px;
}


.description1 {
    width: 112px;
    height: 40px;
    flex-shrink: 0;
    margin-top: 35px;
    margin-left: 20px;
    color: #5E5E5E;
    text-align: center;
    font-family: "Roboto Flex";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 166.667% */
}

.description2 {
    width: 112px;
    height: 40px;
    flex-shrink: 0;
    margin-top: -25px;
    margin-left: 25px;
    color: #5E5E5E;
    text-align: center;
    font-family: "Roboto Flex";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 166.667% */
}

.descriptionPrice {
    color: rgba(0, 0, 0, 0.72);
    margin-top: -20px;
    text-align: center;
    font-family: "Roboto Flex";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn {
    width: 58px;
    height: 18px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #DC1E0F;
    background: rgba(220, 30, 15, 0.00);
    margin-left: 50px;
}

.compraMobile {
    width: 58px;
    height: 16px;
    margin-top: 2px;
    flex-shrink: 0;
    color: #DC1E0F;
    text-align: center;
    font-family: "Encode Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
