.containerTrends {
    margin-top: -80px;
    margin-left: -14px;
    display: flex;
    flex-direction: row; 
    align-items: center; 
    padding: 70px;
    background: #DC1E0F;
}

.trends {
    color: #Fff;
    font-family: 'Roboto';
    font-size: 32px;
    font-style: italic;
    font-weight: 800;
    line-height: 32px;
    text-transform: uppercase;
    margin: 70px;
    margin-bottom: -40px;
}